html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;

    background: url(assets/img/bg.jpg) no-repeat top center;
    background-size: cover;
    max-width: 100%;
    min-height: 600px;
    z-index: -10;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}

.link_active {
    color: #dc3545;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.link_active:hover {
    color: #dc3545;
}

.sectionContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 15px 40px 15px;
}

.link,
.link:active,
.link:visited {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover {
    color: #dc3545;
}

#header {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    background: #f7b532;
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.05, #f7b532),
            color-stop(1, #e19601)
    );
    min-height: 43px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 0;
    border: 1px solid #b87800;
    width: 1200px;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    color: #fff;
}

.menu {
    color: #bd4f3d;
}

.menu_Active {
    color: #644339;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInTxt {
    align-items: center;
    justify-content: center;
    display: flex;
    color: inherit;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
}

.signInTxt:hover,
.signInTxt:active {
    color: #dc3545;
}

/*Home*/

.toysText {
    font-family: "Gochi Hand", cursive;
    font-size: 50px;
    color: #0a1e3c;
}

.productTitle {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Us*/
.contact__us {
    /*background: -webkit-linear-gradient(left, #0072ff, #00c6ff);*/
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
    margin-bottom: 20px;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 60%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/**Cart*/
.cartTitle {
    min-height: 600px;
}

.total {
    /*height: 80vh;*/
    height: 3.75em;
    border-top: 1px solid #e1e8ee;
    padding: 1.25em 1.75em;
    color: #5e6977;
    font-size: 1.125em;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total button {
    background-color: #1a6dbf;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
}

.shopping-cart {
    width: 750px;
    height: auto;
    margin: 5em auto;
    background: #fff;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
}

/*ordereding*/

.App {
    width: 450px;
    display: flex;
    height: 70vh;
    justify-content: space-around;
    flex-direction: column;
    background: #ffff;
    border-radius: 10px;
}

form {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

input {
    background: #f9f9f9;
    padding: 10px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    outline: none;
    font-weight: 300;
}

.rccs__card--unknown > div {
    background: #75c9a5;
}

.rccs {
    padding-top: 50px;
}

.alert {
    width: 320px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* item styling */
.title {
    height: 3.75em;
    border-bottom: 1px solid #e1e8ee;
    padding: 1.25em 1.75em;
    color: #5e6977;
    font-size: 1.125em;
    font-weight: 400;
}

.item {
    padding: 1.25em 1.75em;
    /*height: 7.5em;*/
    display: flex;
}

.item:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
}

.buttons {
    position: relative;
    padding-top: 1.75em;
    margin-right: 3.5em;
}

.delete-btn,
.like-btn {
    display: inline-block;
    cursor: pointer;
}

.delete-btn {
    width: 18px;
    height: 17px;
    background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg") no-repeat center;
}

.is-active {
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: right;
    }
}

.image {
    margin-right: 50px;
}

.image img {
    width: 100px;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 1em;
    color: #43484d;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939e;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 1em;
    color: #43484d;
    font-weight: 300;
}

.addRemoveBtn {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 1em;
    color: #43484d;
    font-weight: 300;
}

/* media queries */
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image img {
        width: 50%;
    }

    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons {
        margin-right: 20px;
    }
}

.total {
}

@media (max-width: 400px) {
    .total {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 50px 0;
    }
}

/*payment*/

.signUpTitle {
    min-height: 80vh;
}

/*footer */

img {
    max-width: 100%;
    height: auto;
}

.footer_section {
    background-color: #f9f9f9;
    max-width: 100%;
    color: #fff;
    padding: 40px 0;
    z-index: 100;
    text-align: center;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}

.svg-inline--fa {
    vertical-align: -0.2em;
}

.rounded-social-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 2rem;
    margin-bottom: 1.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-github,
.fa-instagram {
    font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
    background: #000;
}

.rounded-social-buttons .social-button.github:hover,
.rounded-social-buttons .social-button.github:focus {
    color: #000;
    background: #fefefe;
    border-color: #000;
}

.rounded-social-buttons .social-button.instagram {
    background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
}
